<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100,300' rel='stylesheet' type='text/css'>
<html>

<head>
</head>

<body>
    <div id="main">
        <div id="destinations" class="row" style="padding-top: 10%;">
          <div>
            <center>
                <h1>Where do you want to go?</h1>
            <center>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <h3>Enter your starting point:</h3>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Starting Point" required/>
            </div>
            <p>Or</p>
            <button type="button" class="btn btn-default">Use current location</button>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <br><br>
            <h3>Enter your ending point:</h3>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Ending Point" required/>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <br>
            <center>
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">ROUTE ME</button>
            </div>
            </center>
          </div>
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>

</html>