<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100,300' rel='stylesheet' type='text/css'>
<html>

<head>
</head>

<body>
    <div id="destinations">
      <div class="row" style="padding-top: 10%">
        <div class="col-md-6 col-md-offset-3">
          <h1>Please enter your destinations.</h1>
        </div>
      </div>
      <div class="row">
        <form action="/directions" method="get" class="col-md-6 col-md-offset-3">
          <fieldset class="form-group">
            <label for="starting">Starting</label>
            <input type="text" name="starting" class="form-control" id="starting" placeholder="">
          </fieldset>
          <fieldset class="form-group">
            <label for="ending">Ending</label>
            <input type="text" name="ending" class="form-control" id="ending" placeholder="">
          </fieldset>
          <button type="submit" class="btn btn-default">Go</button>
        </form>
      </div>

        <!--div id="destinations" class="row" style="padding-top: 10%;">
          <div class="col-md-6 col-md-offset-3">
            <h1>Enter your starting and ending destinations.</h1>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Starting Destination" />
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Ending Destination" />
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">Go</button>
            </div>
          </div>
        </div-->
    </div>
</body>

</html>
