<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100,300' rel='stylesheet' type='text/css'>
<html>

<head>
</head>

<body>
    <div id="destinations">
      <div class="row" style="padding-top: 10%">
        <div class="col-md-6 col-md-offset-3">
          <h1>Please enter your destinations.</h1>
        </div>
      </div>
      <div class="row">
        <form id="destinations-form" class="col-md-6 col-md-offset-3">
          <fieldset class="form-group">
            <label for="starting">Starting Point</label>
            <input type="text" class="form-control" id="starting" placeholder="Starting point address" required>
            <br>
            <button id="currLocation" type="button" class="btn btn-default">Use current location</button>
          </fieldset>
          <fieldset class="form-group">
            <br>
            <label for="ending">Ending Point</label>
            <input type="text" class="form-control" id="ending" placeholder="Ending point address" required>
          </fieldset>
          <center>
            <br>
          <input type="submit" class="btn-lg btn-outline btn-submit text-uppercase" value="ROUTE ME">
          </center>
        </form>
      </div>

        <!--div id="destinations" class="row" style="padding-top: 10%;">
          <div class="col-md-6 col-md-offset-3">
            <h1>Enter your starting and ending destinations.</h1>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <h3>Enter your starting point:</h3>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Starting Point" required/>
            </div>
            <p>Or</p>
            <button type="button" class="btn btn-default">Use current location</button>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <br><br>
            <h3>Enter your ending point:</h3>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Ending Point" required/>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <br>
            <center>
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">ROUTE ME</button>
            </div>
            </center>
          </div>
        </div-->
    </div>

</body>
</html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/js/index.js"></script>
