<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100,300' rel='stylesheet' type='text/css'>
<html>

<head>
</head>

<body>
    <div id="landing" class="text-center">
        <div class="container" style="padding-top: 200px">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-center" style="font-size:125px">FORUM</h1>
                    <h3 class="landing-description">Minimize your worries by maximizing your safety on your commutes after dark.</h3>
                    <hr width="60%">
                    <p class="app-description">Find the safest and most lit road home.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <br>
                <br>
                <a href="#" class="page-scroll">
                    <button id="landing-button" class="btn-lg btn-outline btn-submit text-uppercase">GET STARTED</button>
                </a>
            </div>
        </div>
    </div>
    <div id="d3">
        <svg class="chart">
        </svg>
    </div>
    <div id="main">

      <section>
              <div class="container">
                  <div id="inner">
                      <div id="newMessages" class="row center-block"></div>
                      <div id="messages" class="posts">
                          {{#each newsfeed}}
                          <div class="row center-block" id="post{{_id}}">
                              <div class="col s10 offset-s1">
                                  <div class="card white">
                                      <div class="card-content black-text">
                                          <img style="vertical-align:middle;" src="{{user.photo}}" />
                                          <b>  {{user.username}}</b><span class="username"> posted about <a class="blue-text"><i id="gym">{{gym}}</i></a> on {{posted}}:</p></span>
                                          <div class="card-title">
                                              <p>{{message}}</p>
                                          </div>
                                      </div>
                                      <div class="card-action">
                                          <a href="/comments?postID={{_id}}" class="btn blue darken-3 left comments" postID="{{_id}}" value="{{numOfComments}}"></a>
                                          <div class="delete" sameUser="{{sameUser}}" postID="{{_id}}">
                                          </div>
                                      </div>
                                      <br />
                                  </div>
                              </div>
                          </div>
                          <div id="modal{{_id}}" class="modal">
                              <div class="modal-content">
                                  <h4>Delete post?</h4>
                                  <p>Are you sure you want to delete this post? Click "DELETE" below to delete this post or cancel to go back.</p>
                              </div>
                              <div class="modal-footer">
                                  <!--a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a-->
                                  <a class="modal-action modal-close btn blue darken-3 right delBtn" postID="{{_id}}" onclick="deletePost('{{_id}}')" rel="nofollow" style="margin-left:20px">DELETE</a>&nbsp;&nbsp;&nbsp;
                                  <a class="modal-action modal-close btn grey lighten-1 right">CANCEL</a>
                              </div>
                          </div>
                          {{/each}}
                      </div>
                      <div id="LoadMore" class="row center-block">
                      </div>
                  </div>
              </div>
          </section>


    </div>
    <!--div id="info-box">?</div-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeAnNaWn4NxU_2lyPMot7FQlMikqHdPuQ
        &libraries=geometry,visualization&callback=initMap"></script>
    <script src="/js/index.js"></script>
</body>

</html>
