<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100,300' rel='stylesheet' type='text/css'>
<html>

<head>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#">ITZ LIT</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/maps">MAP</a></li>
            <li><a href="/maps/#moreInfo">MORE INFO</a></li>
            <li class="active"><a href="/forum">FORUM</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
</head>

<body>
    <div id="forum" class="text-center">
        <div class="container" style="padding-top: 200px">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-center" style="font-size:125px">FORUM</h1>
                    <h3 class="landing-description">Wao we're gonna have people talk to each other</h3>
                    <hr width="60%">
                    <p class="app-description">COOL RIGHT???</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeAnNaWn4NxU_2lyPMot7FQlMikqHdPuQ
        &libraries=geometry,visualization&callback=initMap"></script>
    <script src="/js/index.js"></script>
</body>

</html>
