<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100,300' rel='stylesheet' type='text/css'>
<html>

<head>
</head>

<body>

    <div id="landing" class="text-center">
        <div class="container" style="padding-top: 200px">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-center" style="font-size:125px">ITZ LIT</h1>
                    <h3 class="landing-description">Minimize your worries by maximizing your safety on your commutes after dark.</h3>
                    <hr width="60%">
                    <p class="app-description">Find the safest and most lit road home.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <br>
                <br>
                <p class="app-description">Click here to login and get started:</p>
                <a href="/auth/facebook" class="page-scroll">
                  <button id="facebook-button" class="btn-lg btn-outline btn-submit text-uppercase">
                    <i class="fa fa-facebook"></i>
                  Facebook</button>
                </a>

            </div>
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>

</html>
