<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100,300' rel='stylesheet' type='text/css'>
<html>

<head>
</head>

<body>
    <div id="landing" class="text-center">
        <div class="container" style="padding-top: 200px">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-center" style="font-size:125px">YOUber</h1>
                    <h3 class="landing-description">Helping Uber drivers maximize their success</h3>
                    <hr width="60%">
                    <p class="app-description">Select your Uber vehicle & find out which San Diego areas will give you the best business</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <br>
                <br>
                <a href="#selectButtons" class="page-scroll">
                    <button id="landing-button" class="btn-lg btn-outline btn-submit text-uppercase">GET STARTED</button>
                </a>
            </div>
        </div>
    </div>
    <div id="d3">
        <svg class="chart">
        </svg>
    </div>
    <div id="main">
        <div id="selectButtons">
            <div class="selector" value="all">
                <center>
                    <br>
                    <h1 class="click-car">Click on a car to select your type of uber:</h1>
                    <br>
                    <img onclick="selectUber('UberX')" src="/images/uberx.png" width="200" height="76" selected="true" class="uberType selected">
                    <img onclick="selectUber('UberXL')" src="/images/uberxl.png" width="200" height="76" selected="false" class="uberType">
                    <img onclick="selectUber('Uber Espanol')" src="/images/espanol.png" width="200" height="76" selected="false" class="uberType">
                    <img onclick="selectUber('Uber Select')" src="/images/select.png" width="200" height="76" selected="false" class="uberType">
                    <img onclick="selectUber('Uber Black')" src="/images/black.png" width="200" height="76" selected="false" class="uberType">
                    <img onclick="selectUber('Uber SUV')" src="/images/suv.png" width="200" height="76" selected="false" class="uberType">
                    <br>
                </center>
                <br>
            </div>
        </div>
        <div id="sidebar">
            <div>
                <center>
                    <h1 class="region-title">Top 10 Regions <a href="#myModal" data-toggle="modal"><i class="fa fa-info-circle" aria-hidden="true"></i></a> </h1>
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">MORE INFO</h4>
                                </div>
                                <div class="modal-body">
                                    <p>YOUber’s algorithm takes advantage of Delphi’s San Diego demographics databases and compiles them together. For each area in San Diego, our algorithm looks at the population, income, Hispanic population, family size, vehicles, and number of workers in each location and compares them to the other locations. We determined what each type of Uber driver would find valuable and gave priority to regions that had more in those areas relative to other areas. Keep in mind that the data is not current and has changed since DELPHI received the data. We have listed what we believe each type of uber driver might value below.
                                    </p>
                                    <p>UberX: population</p>
                                    <p>UberXL: population, family size</p>
                                    <p>UBER Espanol: Hispanic population, population</p>
                                    <p>UBER Select: income, workers, population</p>
                                    <p>UBER Black: Income, workers</p>
                                    <p>UBER SUV: Family size, income</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 id="uberTypeSelected" class="uber-selection">for UberX:</h3>
                    <p>Click on a region on the map or list for more detailed information.</p>
                </center>
            </div>
            <br>
            <ul id="rankings" class="list-group"></ul>
            <!--div id="rawData"></div-->
        </div>
        <div id="map"></div>
    </div>
    <!--div id="info-box">?</div-->
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/js/index.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeAnNaWn4NxU_2lyPMot7FQlMikqHdPuQ
        &libraries=visualization&callback=initMap"></script>
</body>

</html>