<body>
    <div id="landing" class="text-center">
        <div class="container" style="padding-top: 200px">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-center" style="font-size:100px">UBER UBER</h1>
                    <h3>The page you are looking for does not exist, redirecting you the main page</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <br>
                <br>
            </div>
        </div>
    </div>
</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/invalid.js"></script>