<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100,300' rel='stylesheet' type='text/css'>
<html>

<head>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!--Navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ITZ LIT</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/destinations">CHANGE TRIP</a></li>
                    <li><a href="#main">MAP</a></li>
                    <li><a href="#moreInfo">MORE INFO</a></li>
                    <!--<li><a href="#forum">FORUM</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main" class="row" style="padding-top: 50px">
        <div id="sidebar">
            <nav class="navbar navbar">
                <div style="padding-right:0px" class="container-fluid">
                    <ul style="width:100%" class="nav navbar-nav">
                        <li class="sidebar-tabs" onclick="showRoutes()" style="width:50%; text-align: center;"><a>MY ROUTES</a></li>
                        <li class="sidebar-tabs" onclick="showFeed()" style="width:50%;text-align: center;"><a>LIVE UPDATES</a></li>
                    </ul>
                </div>
            </nav>
            <div style="display: block;" id="routeInfoDiv">
                <center>
                    <h1 class="region-title">YOUR SAFEST TRIP<a href="#myModal" data-toggle="modal"><i class="fa fa-info-circle" aria-hidden="true"></i></a> </h1>
                    <!-- Info Modal by title -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">How your route is calculated:</h4>
                                </div>
                                <div class="modal-body">
                                    <p>The routes provided will take into account your start and ending destinations. Routes that are shorter and take less time will appear first. You can pick whether or not it is worth it to utilize that route based on the amount of light and crimes near that route in comparison to other routes provided.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
                <!--Sidebar-->
                <div>
                    <center>
                        <p id="startingp"><b>Start: </b></p>
                        <p id="endingp"><b>End: </b></p>
                        <p id="transportation"></p>
                    </center>
                </div>
                <center>
                    <h2 id="uberTypeSelected" class="uber-selection">SELECT YOUR ROUTE:</h2>
                </center>
                <div>
                    <div id="routeInfo">
                    </div>
                    <div id="right-panel"></div>
                </div>
            </div>
            <!-- LIVE UPDATES TAB -->
            <div id="postsDiv" style="display: none;">
                <div id="forum" class="text-center">
                <div style="background-color: #FAF6C5;">
                    <br>
                    <!-- modal -->
                    <form id="send_post">
                        <div id="submitModal" class="modal">
                            <div class="modal-content" style="padding:10px; width:25%; margin-top:10%; margin-left:65px;">
                                <h4 align="left">Submit Post?</h4>
                                <p id="postMessage">Are you sure you want to post: </p>
                                <button class="modal-action modal-close btn subBtn" onclick="submitDat()" rel="nofollow" style="margin-left:20px">POST</button>
                                <a class="modal-action modal-close btn cancelBtn">CANCEL</a>
                            </div>
                        </div>
                        <div id="errModal" class="modal" style="padding:10px; width:25%; margin-top:10%; margin-left:65px;">
                            <a class="modal-action modal-close" id="okBtn">OK</a>
                        </div>
                        <div id="errModalmsg" class="modal">
                            <div class="modal-content" style="padding:10px; width:25%; margin-top:10%; margin-left:65px;">
                                <h4 align="left">Empty post.</h4>
                                <p>You must enter a message in order to post.</p>
                                <a class="modal-action modal-close btn" id="okBtn2">OK</a>
                            </div>
                        </div>
                        <!--display info-->
                        <center>
                            <h2>LIVE UPDATES</h2>
                            <h4>Write a new post</h4>
                        </center>
                        <div class="newPostContainer">
                            <textarea class="white-text" id="message_content" placeholder="What's happening on your route?" style="background: url('{{profPic}}') no-repeat scroll 0px -1px; background-color:white; padding:10px; width: 90%; height: 80px;" autocomplete="off" required></textarea>
                            <center>
                                <input style="width:90%; padding:10px;" type="text" class="form-control" id="loc" placeholder="Where is this happening" required>
                            </center>
                        </div>
                    </form>
                    <b id="locErr"></b>
                    <br>
                    <Button id="submitnewpost" class="btn-large btn">Post</Button>
                    <br>
                    <br>
                </div>
                    <!-- New Post Modal
                        <div id="newPostModal" class="modal fade" role="dialog" style="margin-top:10%;">-->
                    <section>
                        <center>
                            <h4>NEWSFEED</h4>
                        </center>
                        <div id="inner">
                            <div id="newMessages" class="row center-block"></div>
                            <div id="messages" class="posts">
                                {{#each newsfeed}}
                                <div class="row center-block" id="post{{_id}}">
                                    <div class="col s10 offset-s1">
                                        <div class="card white">
                                            <div class="card-content black-text">
                                                <img style="vertical-align:left;" src="{{user.photo}}" />
                                                <b>  {{user.displayName}}</b><span class="username"> posted at {{posted}}:</p></span>
                                                <div class="card-title">
                                                    <p>{{message}}</p>
                                                </div>
                                            </div>
                                            <!--
                                            <div class="card-action">
                                                <a href="#commentsModal?postID={{_id}}" class="btn comments" postID="{{_id}}" value="{{numOfComments}}"></a>
                                                <div class="delete" sameUser="{{sameUser}}" postID="{{_id}}">
                                                </div>
                                            </div>
                                            <br />
                                        -->
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div id="modal{{_id}}" class="modal">
                                    <div class="modal-content">
                                        <h4>Delete post?</h4>
                                        <p>Are you sure you want to delete this post? Click "DELETE" below to delete this post or cancel to go back.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="modal-action modal-close btn right delBtn" postID="{{_id}}" onclick="deletePost('{{_id}}')" rel="nofollow" style="margin-left:20px">DELETE</a>&nbsp;&nbsp;&nbsp;
                                        <a class="modal-action modal-close btn grey lighten-1 right">CANCEL</a>
                                    </div>
                                </div>
                            -->
                                {{/each}}
                            </div>
                            <div id="LoadMore" class="row center-block">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <br>
            <ul id="rankings" class="list-group"></ul>
        </div>
        <div id="map"></div>
        <div id="spinner" class="spinner"></div>
    </div>
<div id="moreInfo">
        <div class="container" style="padding-top: 5%">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-center" style="font-size:80px">MORE INFORMATION</h1>
                    <!-- <h3 class="landing-description">Graphs and other cool stuff!!!</h3>
                    <hr width="60%">
                    <p class="app-description">LET'S GET VISUAL!</p> -->
                    <hr width="60%">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#fixed" data-slide-to="0" class="active"></li>
                            <li data-target="#fixed" data-slide-to="1"></li>
   <!--                          <li data-target="#fixed" data-slide-to="2"></li>
                            <li data-target="#fixed" data-slide-to="3"></li> -->
                          </ol>

                          <!-- Wrapper for slides -->
                          <center>
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <select class="selectmenu" onchange="loadData()" id="crimeName">
                                    <option selected="selected" disabled="disabled" class="hideoption">Select a crime</option>
                                    <option>Arson</option>
                                    <option>Assault</option>
                                    <option>Child Abuse</option>
                                    <option selected="selected">DUI</option>
                                    <option>Drunk in Public</option>
                                    <option>Possession of Substance</option>
                                    <option>Possession of Weapon</option>
                                    <option>Rape</option>
                                    <option>Theft</option>
                                    <option>Vandalism</option>
                                </select>
                                <div id="barChart" class="slider-size">
                                </div>
                            </div>

                            <div class="item">
                              <div id="pieChart" class="slider-size">
                              </div>
                            </div>

                            <!-- <div class="item">
                              
                            </div>

                            <div class="item">
                              
                            </div> -->
                          </div> <!--END DIV INNER-->
                        </center>

                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" >
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" >
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    <script src="/js/spin.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="/js/index.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrxU3ewOQTPgI7Pf3wvcDZp-N8hv3cYnU
        &libraries=geometry,visualization,places&callback=initMap"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/js/barchart.js"></script>
    <script src="/js/piechart.js"></script>
    <script src="./js/socket.io.min.js"></script>
    <script src="./js/newPost.js"></script>
    <script src="./js/chatbox.js"></script>
    <!-- <script src="./js/comment.js"></script> -->
</body>

</html>
