html,
body {
    height: 100%;
    margin: 0 auto;
    background-color: black;
}

#facebook-button {
    color: white;
    background-color: #337ab7;
    border-color: #337ab7;
}

.line {
    fill: none;
    stroke: #FFF303;
    stroke-width: 3px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#facebook-button:hover {
    color: #337ab7;
    background-color: white;
    border-color: white;
}

.routeDisplay {
    padding: 5px 5px 5px 25px;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    border-radius: 5px;
    border-color: #586168;
}

.routeDisplay:active {
    border-color: yellow;
}

.hovered {
    background-color: #AAC6EC;
    /*box-shadow: 5px 5px 25px 15px #AAC6EC inset*/
}

.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

.directions {
    padding-left: 30px;
    background-color: #FAF6E3;
}

.clicked {
    background-color: #FAF6C5;
    border-color: #988F2C;
    /*box-shadow: 5px 5px 25px 15px yellow inset*/
}

.bulb {
    -webkit-filter: drop-shadow(3px 3px 5 yellow) drop-shadow(-3px -3px 5 yellow);
    filter: drop-shadow(1px 1px 5 yellow) drop-shadow(-1px -1px 5 yellow);
}

.spinner {
    color: white;
}

#starting-err,
#ending-err,
#locErr {
    color: red;
}

#main,
#destinations,
#moreInfo {
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
}

#moreInfo {
    background-color: #191919;
    color: white;
    height: 100%;
}

#forum {
    background-color: white;
    color: black;
    height: 100%;
}

#destinations {
    /*text-shadow: 0px 0px 3px yellow;*/
    
    letter-spacing: 2px;
    font-size: 18px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: white;
    /*
    background: black;
    /* For browsers that do not support gradients
    background: -webkit-linear-gradient(black, #1F2021);
    /* For Safari 5.1 to 6.0
    background: -o-linear-gradient(black, #1F2021);
    /* For Opera 11.1 to 12.0
    background: -moz-linear-gradient(black, #1F2021);
    /* For Firefox 3.6 to 15
    background: linear-gradient(black, #1F2021);
    /* Standard syntax*/
    
    background-color: black;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/landing3.jpg');
    background-position: center;
    background-size: 100%;
    opacity: 1.6;
    /*
    background: black; /* For browsers that do not support gradients
    background: -webkit-linear-gradient(black, #20457F); /* For Safari 5.1 to 6.0
    background: -o-linear-gradient(black, #20457F); /* For Opera 11.1 to 12.0
    background: -moz-linear-gradient(black, #20457F); /* For Firefox 3.6 to 15
    background: linear-gradient(black, #20457F); /* Standard syntax
    color: white;
*/
    /*
    background-color: #191919;
    color: white;
*/
}

#route-me {
    background-color: #ffc34d;
    outline-color: #ffc34d;
    color: black;
}

#route-me:hover {
    background-color: #ffd480;
    outline-color: #ffd480;
}

#destinations-note {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Exo';
}

a,
p {
    font-family: 'Raleway';
    font-size: 18px;
}

.view:hover {
    text-shadow: 0px 0px 100px yellow;
}

h1.text-center {
    font-family: 'Exo';
    letter-spacing: 20px;
}

h1.click-car {
    font-family: 'Exo';
    letter-spacing: 5px;
    text-transform: uppercase;
}

h1.region-title {
    font-family: 'Exo';
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3.landing-description {
    font-family: 'Raleway';
    letter-spacing: 8px;
    font-size: 19px;
    text-transform: uppercase;
}

h3.uber-selection {
    font-family: 'Raleway';
}

.helpButton {
    border-radius: 0px;
}

#instr {
    text-align: center;
}

ul.list-group {
    font-family: 'Raleway';
    font-weight: 300;
}

p.app-description {
    font-family: 'Raleway';
    font-size: 16px;
    letter-spacing: 2px;
}

#landing {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: white;
    background-color: black;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/landing.jpg');
    opacity: 1.6;
}

#landing-button {
    color: #fff;
    font-family: 'Roboto';
    border-radius: 0px;
    letter-spacing: 4px;
    border-color: white;
}

#sidebar {
    float: left;
    height: 100%;
    width: 33%;
    background-color: #DEDFE6;
    overflow-y: auto;
}

.sidebar-tabs {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.sidebar-tabs:active {
    background-color: #DEDFE6;
}

.row {
    font-family: 'Exo';
    margin-right: 0;
    margin-left: 0;
    /*padding-left: 67px;*/
}

.selector {
    background-color: black;
    color: white;
}

.selected {
    -webkit-filter: drop-shadow(3px 3px 0 yellow) drop-shadow(-3px -3px 0 yellow);
    filter: drop-shadow(1px 1px 0 yellow) drop-shadow(-1px -1px 0 yellow);
}

#map {
    float: left;
    padding-top: 50px;
    height: 100%;
    width: 67%;
}

.chart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chart rect {
    fill: steelblue;
}

.polaroid {
    position: relative;
    width: 220px;
}

.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

.polaroid p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    font: 400 18px/1 'Kaushan Script', cursive;
    color: #888;
}

#info-box {
    background-color: white;
    border: 1px solid black;
    bottom: 30px;
    height: 20px;
    width: auto;
    padding: 10px;
    position: absolute;
    left: 30px;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.btn {
    color: #ffffff;
    background-color: #7F7F7F;
    *background-color: #7F7F7F;
}

.currLocation:hover {
    background-color: #ffffff;
    *background-color: #ffffff;
    color: #ffffff;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-outline:hover,
.btn-.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #000000;
    background-color: #ffffff;
    *background-color: #ffffff;
}

.btn-dest {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #000000;
    *background-color: #000000;
    border-color: #000000 #000000 #000000;
    border-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-dest:hover,
.btn-dest:focus,
.btn-dest.disabled,
.btn-dest[disabled] {
    color: #ffffff;
    background-color: #fff;
    *background-color: #fff;
}

.btn-dest:active,
.btn-dest.active {
    background-color: #7F7F7F;
    color: #ffffff;
}

#feed {
    padding-left: 20px;
}

#inner {
    display: table;
    margin: 0 auto;
    width: 90%;
}

#messages {
    /*border: 1px #a4ccd5 solid;
    border-radius: 3px;*/
    
    list-style-type: none;
    padding: 0;
    padding-left: 20px;
    font-size: 14px
}

#messages>hr:first-child {
    border: 0;
    height: 0
}

#messages>hr {
    border: 0;
    padding: 0;
    width: 95%;
    height: 1px;
    background: #e0e0e0
}

#messages>li {
    padding: 20px;
    padding-bottom: 10px
}

.right {
    position: absolute;
    right: 0px;
    padding: 10px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: grey;
    background: white;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: black;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: grey;
}

#return-to-top:hover i {
    color: white;
    top: 5px;
}
/*.bar {
  fill: steelblue;
}
.bar:hover {
  fill: brown;
}
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}*/

.selectmenu {
    color: black;
}

.slider-size {
    height: 700px;
    /* slider height */
    /*background-size: cover !important;*/
}

.carousel {
    width: 100% !important;
    margin: 0 auto !important;
    /* center your carousel if other than 100% */
}

.carousel-indicators {
    position: absolute;
    !important;
}

.carousel-inner {
    max-height: 630px !important;
}

#barChartTip {
    height: 50px !important;
    width: 120px !important;
    padding: 7px 7px 7px 7px !important;
    font-size: 16px;
    background: #f1f0f1 !important;
    color: #333 !important;
    font-family: 'Exo';
}

#pieChart {
    height: 600px;
    position: relative;
    width: 560px;
    margin-top: 40px;
}

#pieChartTip {
    background: #f1f0f1 !important;
    box-shadow: 0 0 5px #999999 !important;
    color: #333 !important;
    opacity: 0;
    font-size: 18px !important;
    font-family: 'Exo';
    left: 180px!important;
    padding: 10px!important;
    position: absolute!important;
    text-align: center!important;
    top: 240px!important;
    width: 150px !important;
    min-height: 110px !important;
    max-height: 120px !important;
    z-index: 10!important;
}
/*div.tooltip-inner {
    max-width: 150px !important;
    width: auto !important;
    max-height: 120px !important;
}
*/

.label {
    color: #333 !important;
    font-size: 16px !important;
    white-space: pre-wrap !important;
}

#description {
    font-size: 16px !important;
}